<!-- Latest compiled and minified CSS -->
<div class="container">
  <h3 class="d-flex justify-content-center">Blog Website </h3>
  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <ul class="navbar-nav">
      <li class="nav-item">
          <button async id="entryrouter" class="m-1 btn btn-light btn-outline-primary" 
          routerLink="entrysection" Button>Entry Section</button>
      </li>

      <li class="nav-item">
          <button async  id="postrouter" class="m-1 btn btn-light btn-outline-primary" 
          routerLink="postsection" Button>Post Section</button>
      </li>
  </ul>
  </nav>
  <router-outlet></router-outlet>
<!-- <div class="container">
    <div class="modal-body">
      <div class="bg-primary text-white components">
        <app-entry-section-component></app-entry-section-component>
      </div>
    </div>
  </div>
</div> (click)="route('postsection')" -->










<!-- <div class="container">
  <div class="modal-body row gx-5">
    <div class="col-md-6 p-3 mb-2 bg-primary text-white components">
      <app-entry-section-component></app-entry-section-component>
    </div>
   <p class="content">app is running!</p>

     <div class="col-md-6 p-3 mb-2 bg-success bg-gradient components">
      <app-post-component></app-post-component>
    </div> 
  </div>
</div>
</div> -->